<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riyo - Highway Simplyfy</title>
    <!-- Favicon link -->
    <link rel="shortcut icon" href="../../../images/favicon.png" type="image/x-icon">
    <!-- Main Link -->
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <div class="container1">
        <!-- <div class="black_div"></div> -->
        <div class="box1">
            <div class="left">
                <img src="../../../images/img1.svg" alt="">
            </div>
            <div class="right">
                <a href="page8.html" id="anchor"><img src="../../../images/left-arrow.png" alt=""></a>
                <img src="../../../images/img2.svg" alt="">
                <div class="warning-box">         
                    <div class="inside">
                        <h2>Your Documents are under verification. <br> It will take upto two working days</h2>
                        <h1>Status: <span>Pending</span></h1>
                            <a href="page10" class="btn">
                                <button id="btn">Dashboard</button>
                            </a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
</body>

</html>

