<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riyo - Highway Simplyfy</title>
    <!-- Favicon link -->
    <link rel="shortcut icon" href="../../../images/favicon.png" type="image/x-icon">
    <!-- Main Link -->
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <div class="container1">
        <div class="box1">
            <div class="left">
                <img src="../../../images/img1.svg" alt="">
            </div>
            <div class="right">
                <a href="page6.html" id="anchor"><img src="../../../images/left-arrow.png" alt=""></a>
                <img src="../../../images/img2.svg" alt="">
                <h2 style="padding-bottom: 10px;">Please Fill in the Given Details</h2>
                <form action="page8.html" style="margin-bottom: 360px;" id="link">
                    <div class="box2">
                        <div class="box3">

                            <div class="input">
                                <fieldset>
                                    <legend>First Name</legend>
                                    <input type="text" name="" id="" required placeholder="First Name">
                                </fieldset>
                            </div>
                            <div class="input">
                                <fieldset>
                                    <legend>Last Name</legend>
                                    <input type="text" name="" id="" required placeholder="Last Name">
                                </fieldset>
                            </div>
                        </div>
                        <div class="input">
                            <label class="label">
                                <input type="file" required/>
                                <span>Add Photo</span>
                              </label>
                        </div>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Mobile No.</legend>
                            <input type="tel" name="" id="" required placeholder="Mobile no.">
                        </fieldset>
                    </div>
                    <div class="btn">
                        <input class="SubmitButton" id="btn" type="submit" name="SUBMITBUTTON" value="PROCEED" />
                    </div><br>

                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
