<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riyo - Highway Simplyfy</title>
    <!-- Favicon link -->
    <link rel="shortcut icon" href="../broker/broker.html" type="image/x-icon">
    <!-- Main Link -->
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <div class="container1">
        <div class="box1">
            <div class="left">
                <img src="../../../images/img1.svg" alt="">
            </div>
            <div class="right">
                <a href="../../../index.html" id="anchor"><img src="../../../images/left-arrow.png" alt=""></a>
                <img class="img2" src="../../../images/img2.svg" alt="">
                <h2 style="padding-bottom: 10px;">Please Fill in the Given Details</h2>
                <form action="" style="margin-bottom: 360px;" id="link">
                    <div class="input" style="display: flex; gap:10px">
                        <fieldset style="width: 50%;">
                            <legend>Prefix</legend>
                            <select name="" id="" required>
                                <option value="" selected disabled hidden>Mr.</option>
                                <option value="">Mr.</option>
                                <option value="">Mrs.</option>
                            </select>
                        </fieldset>
                        <fieldset >
                            <legend>First Name</legend>
                            <input type="text" name="" id="" required placeholder="First Name">
                        </fieldset>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Last Name</legend>
                            <input type="text" name="" id="" required placeholder="Last Name">
                        </fieldset>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Mobile No.</legend>
                            <input type="tel" name="" id="" required placeholder="Mobile no.">
                        </fieldset>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Email</legend>
                            <input type="email" name="" id="" required placeholder="Email">
                        </fieldset>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Select Your Service</legend>
                            <select name="" id="" required>
                                <option value="" selected disabled hidden>Click To Select</option>
                                <option value="">Trader</option>
                                <option value="">Manufacture</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="input">
                        <fieldset>
                            <legend>Select Your Company Type</legend>
                            <select name="" id="dropDownId" required>
                                <option value="" selected disabled hidden>Click To Select</option>
                                <option value="privateLimited/page1.html">Private Limited</option>
                                <option value="soleProprietor/page1.html">Sole Proprietor</option>
                                <option value="partnership/page1.html">Partnership</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="btn">
                        <!-- <button id="btn">PROCEED</button> -->
                        <input class="SubmitButton" id="btn" type="submit" name="SUBMITBUTTON" value="PROCEED" />
                    </div><br>

                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="../../../js/script.js"></script>
</body>

</html>