<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riyo - Highway Simplyfy</title>
    <!-- Icons link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Favicon link -->
    <link rel="shortcut icon" href="../../../images/favicon.png" type="image/x-icon">
    <!-- Main Link -->
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <div class="container1">
        <div class="box1">
            <div class="left">
                <img src="../../../images/img1.svg" alt="">
            </div>
            <div class="right">
                <a href="page3.html" id="anchor"><img src="../../../images/left-arrow.png" alt=""></a>
                <img src="../../../images/img2.svg" alt="">
                <h2 style="margin-bottom: 50px;">Select Your Service</h2>
                <form action=""  style="margin-bottom: 100px;">
                    <div class="input">
                        <fieldset>
                            <legend>Select Your Service</legend>
                            <select name="" id=""  aria-label="select" onchange="location = this.value;" required>
                                <option value="" selected disabled hidden>Click To Select</option>
                                <option value="page5.html">RTO</option>
                                <option value="Page5-1.html">Crane</option>
                                <option value="Page5-1.html">Ambulance</option>
                                <option value="page5.html">Legal Assistance</option>
                                <option value="" disabled>Insurance Agent <span>&#128274;</span></option>
                                <option value="" disabled>Surveyer<span>&#128274;</span></option>
                            </select>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</body>

</html>
